  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;

    src: local("Roboto"),
         url("/fonts/roboto.woff2") format("woff2"),
         url("/fonts/roboto.woff") format("woff");
  }

  @font-face {
    font-family: "Roboto";
    font-style: medium;
    font-weight: 500;

    src: local("Roboto"),
         url("/fonts/roboto.woff2") format("woff2"),
         url("/fonts/roboto.woff") format("woff");
  }

  @font-face {
    font-family: "Roboto";
    font-style: bold;
    font-weight: 700;

    src: local("Roboto"),
         url("/fonts/roboto.woff2") format("woff2"),
         url("/fonts/roboto.woff") format("woff");
  }

  html{
    box-sizing: border-box;
  }

  body {
    font-family: "Roboto", "Arial", sans-serif;
  }

  .section1{
    background-image: url("../../assets/images/section1/6c4379c95b7fac4756f94f501e2105b7.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 1000px;
    margin-bottom: 8%;
  }
  .header{
    width: 100vw;
    height: 100px;
    background-color: #000000;

  }
  .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1%;
  }

  a:hover{
    color: #FE9013;
  }

  .nav-item{
    color:#FFFFFF;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    vertical-align:middle;
    margin: 0 2%;
  }

  .logo{
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;   
  }

  .logo_reg{
    position: relative;
    display: inline-block;
    width: 82px;
    height: 52px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    margin-left: 15%;
  }

  .logo_reg:hover{
    border-color: #F9804B;
  }

  .desined{
    position: relative;
    display: inline-block;
    left: 30%;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;

  }
  .circle_text{   
    position: absolute;
    width: 500.31px;
    height: 400px;
    left: calc(50% - 500.31px/2 + 330.15px);
    top: 166px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

  }
  .circle {
    width: 30em;
    position: relative;
    right: -45%;
    height: 30em;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    display: block;
    margin-top: 1%;
  }
  
  .circle_text_yellow{
    color: #FFEE2E;
  }

  .wtch_online_button{
    display: block;
    position: absolute;
    right: 25%;
    width: 300px;
    margin-top: 2%;
  }

  .backstage {
    position: relative;
    width: 100vw;
    height: 403px;
    display: flex;
    padding-bottom: 10%;
  } 

  .backstage_center {
    width: 80%;
    display: flex;
    justify-content: center;
    padding: 0 10% 0 10%;
  } 

  .backstage_img{ 
    display: flex;
    max-width: 609px;
    height: 403px;
    width:40%;
    margin-right: 10%;
    margin-top: 2%;
  }
  
  .backstage_text{
    width: 40%;
  }

  .backstage_text >h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
  }

  .backstage_text >h3 {               
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
  }

  .backstage_text >h5{
    height: 55px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
  }
  
  .backstage_right>img{
    position: absolute;
    top: 0;
    height: 110%;
    right: 0;
  }

  .animals_cards{
    display: grid;
    grid-template-areas: 
      " arrow_left galery-item--1  galery-item--2  galery-item--3  arrow_right "
      "  .   galery-item--4  galery-item--5  galery-item--6  .  "
      " palmphoto palmphoto galery_btn  . strelitzia";
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr 1fr;
    grid-template-rows: 1.5fr 1.5fr 0.7fr;
    grid-column-gap:2%;
    grid-row-gap:2%;
    width: 100%;
    position: relative;
  }

  .galery-item--1{
    grid-area: galery-item--1;
  }

  .galery-item--2{
    grid-area: galery-item--2;
  }

  .galery-item--3{
    grid-area: galery-item--3;
  }

  .galery-item--4{
    grid-area: galery-item--4;
  }

  .galery-item--5{
    grid-area: galery-item--5;
  }

  .galery-item--6{
    grid-area: galery-item--6;
  }

  .arrow_left{
    grid-area: arrow_left;
  }
  
  .arrow_right{
    grid-area: arrow_right;
  }

  .palmphoto{
    grid-area: palmphoto;
  }

  .galery_btn{
    grid-area: galery_btn;
    margin-left: 10%;
  }
  
  .strelitzia{
    grid-area: strelitzia;
  }

  .galery_img{
    width: 100%;
    height: 85%;
    object-fit:cover;
  }

  .galery-item{
    width:100%;
    height:100%;
    border: solid 1px #FA6F32;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
  }

  .galery_header{
    font-family: 'Roboto';
    font-style: Medium;
    font-weight: 500;
    font-size: 16px;
    line-height: 0;
    text-transform: uppercase;
    color: #000000;
    margin-left: 3%;
    margin-bottom:0;
  }

  .galery_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    margin-left: 3%;
  }

  .arrow_right {
    position:absolute;
    top: 100%;
    right: 50%;
    display: block;
    width: 5em;
    height: 5em;
    background:#FE9013;
    background-position: center;
    border-radius: 50%;
    background-image: url("../../assets/images/animalsСards/arrow_rightr.png");
    background-repeat:no-repeat;
    border-color: #FE9013;
}
  .arrow_right:hover {
    background: #4B9200;
    border: 0.3px solid #4B9200;
    background-image: url("../../assets/images/animalsСards/arrow_rightr.png");
    background-repeat:no-repeat;
    background-position: center;
    cursor: pointer;
}

  .arrow_left {
    position:absolute;
    left: 50%;
    top: 100%;
    display: block;
    width: 5em;
    height: 5em;
    background:#FE9013;
    background-position: center;
    border-radius: 50%;
    background-image: url("../../assets/images/animalsСards/arrow_left.png");
    background-repeat:no-repeat;
    border-color: #FE9013;
  }
  .arrow_left:hover {
    background: #4B9200;
    border: 0.3px solid #4B9200;
    background-image: url("../../assets/images/animalsСards/arrow_left.png");
    background-repeat:no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .galery_btn {
    background-image: url("../../assets/images/animalsСards/btn_1.png");
    background-repeat:no-repeat;
    background-color: transparent;
    width: 100%;
    border: none;
    margin-top: 15%;
  }

  .palmphoto {
    background-image: url("../../assets/images/animalsСards/palm_foto.png");
    background-repeat:no-repeat;
    width: 100%; 
    height: 100%; 
  }

  .strelitzia {
    background-image: url("../../assets/images/animalsСards/strelitzia.png");
    background-repeat:no-repeat;
    width: 100%; 
    height: 100%;  
  }

  .pick_and_feed{
    display: flex;
    height: 1004px;
    width: 100vw;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
  }

  .inside_block{

  }
  .pik_feed_button{
    background: url;
  }